body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(200, 245, 255, 0.91);
    color: #fff;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #00484f;
    border-radius: 8px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #008ea2;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #007280;
}
