@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
/* Base */
:root {
    --clr-primary: #29ab99;
    --clr-secondary: #fcf1c9;
    --clr-tertiary: #00484f;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #d9d9d9;
    color: var(--clr-tertiary);
    overflow-x: hidden;
}

.section {
    width: 100%;
    padding: 40px 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 0 30px;
}

.primary {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 20px;
}

.secondary {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.tertiary {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
}
/* End Base */

/* Header */
nav {
    height: 60px;
    width: 100%;
    background-color: #d9d9d9;
    position: fixed;
    top: 0;
}

label.logo {
    font-size: 25px;
    line-height: 60px;
    padding:  0 30px;
    font-weight: 700;
}

nav ul {
    width: 100%;
    height: 50px;
    float: right;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

nav ul div {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: flex;
    justify-content: space-around;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a {
    font-size: 20px;
    padding: 3px 13px;
    text-decoration: none;
    color: var(--clr-tertiary);
    align-items: center;
}

nav ul li img {
    width: 40px;
    height: auto;
    margin-left: 20px;
}

nav ul li img:hover {
    cursor: pointer;
}

.menu a.active,
.menu a:hover {
    border-bottom: 2px solid var(--clr-primary);
    transition: 0.3s;
}

.active {
    border-bottom: 2px solid var(--clr-tertiary);
}
/* End Header */

/* Main */
main {
    margin-top: 17vh;
    margin-bottom: 17vh;
    color: var(--clr-tertiary);
    margin-left: 5%;
    width: 90%;
}

.jeu {
    margin-top: 20px;
}

.jeu .precision {
    display: block;
    color: var(--clr-primary);
}

.jeu .crud button:hover{
    cursor: pointer;
}

.jeu .crud img {
    width: 20px;
    height: 20px;
}

#add_jeu_btn {
    background-color: var(--clr-primary);
    border: none;
    color: var(--clr-secondary);
    padding: 10px;
    border-radius: 7px;
    margin-top: 10px;
}

#add_jeu_btn:hover {
    cursor: pointer;
}

#add_jeu {
    max-width: 300px;
    margin-top: 20px;
}

#add_jeu label {
    display: block;
}

#add_jeu input {
    border: none;
    border-bottom: 2px solid var(--clr-primary);
    background: none;
    outline: none;
    padding: 3px;
    margin-bottom: 5px;
}

#add_jeu input[type=submit] {
    border: none;
    background-color: var(--clr-secondary);
    padding: 5px;
    border-radius: 3px;
    color: var(--clr-primary);
    margin-left: 15px;
}

#add_jeu input[type=submit]:hover {
    cursor: pointer;
}

section button{
    background: none;
    border: none;
}

/* Dialog */

/* CSS pour le centrage des dialogues */
dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--clr-tertiary);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 3px solid var(--clr-tertiary);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    z-index: 100;
}

/* CSS pour le bouton de fermeture */
dialog button {
    background: none;
    border: none;
    cursor: pointer;
}

dialog input[type=submit] {
    background-color: var(--clr-primary);
    border: none;
    color: var(--clr-secondary);
    padding: 10px;
    border-radius: 7px;
    margin-top: 10px;
}

dialog input[type=submit]:hover {
    cursor: pointer;
}

dialog input[type=text], dialog input[type=number], textarea {
    border: none;
    border-bottom: 2px solid var(--clr-primary);
    background: none;
    outline: none;
    padding: 3px;
    margin-bottom: 5px;
}

h4{
    text-align: center;
    margin-bottom: 5px;
}

dialog img {
    width: 15px;
    height: 15px;
}

/* CSS pour rendre les dialogues réactifs */
@media (max-width: 600px) {
    dialog {
        max-width: 100%;
        padding: 10px;
    }
}


/* End Dialog*/

/* End Main */

/* Footer */
footer {
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

footer .container {
    justify-content: space-between;
    align-items: flex-start;
}

footer h2 {
    font-size: 15px;
    margin-bottom: 10px;
}
footer p {
    font-size: 10px;
}

footer ul {
    list-style: none;
    line-height: 10px;
    font-size: 10px;
}

footer ul li {
    cursor: pointer;
}

.footer-about {
    width: 35%;
}

.copyright {
    text-align: center;
    padding-top: 7px;
    margin-top: 15px;
    border-top: 1px solid #b2b2b2;
}
/* End Footer */

/* Scrollbar pour Chrome, Edge, et Safari */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #d9d9d9;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--clr-tertiary);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}
/* End Scrollbar pour Chrome, Edge, et Safari */