@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
/* Base */
:root {
    --clr-primary: #29ab99;
    --clr-secondary: #fcf1c9;
    --clr-tertiary: #00484f;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #d9d9d9;
    color: var(--clr-tertiary);
    overflow-x: hidden;
}

.section {
    width: 100%;
    padding: 40px 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 0 30px;
}

.primary {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 20px;
}

.secondary {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.tertiary {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;
}
/* End Base */

/* Header */
nav {
    height: 60px;
    width: 100%;
    background-color: #d9d9d9;
    position: fixed;
    top: 0;
}

label.logo {
    font-size: 25px;
    line-height: 60px;
    padding:  0 30px;
    font-weight: 700;
}

nav ul {
    width: 100%;
    height: 50px;
    float: right;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

nav ul div {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: flex;
    justify-content: space-around;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a {
    font-size: 20px;
    padding: 3px 13px;
    text-decoration: none;
    color: var(--clr-tertiary);
    align-items: center;
}

nav ul li img {
    width: 40px;
    height: auto;
    margin-left: 20px;
}

nav ul li img:hover {
    cursor: pointer;
}

.menu a.active,
.menu a:hover {
    border-bottom: 2px solid var(--clr-primary);
    transition: 0.3s;
}

.active {
    border-bottom: 2px solid var(--clr-tertiary);
}
/* End Header */

/* Main */
main {
    margin-top: 15vh;
    margin-bottom: 15vh;
}

h1 {
    font-size: 27px;
    margin-left: 5%;
    margin-bottom: 10px;
}

/* Style du tableau */
table {
    width: 90%;
    border-collapse: collapse;
    margin-left: 5%;
    margin-right: 5%;
}

/* Style des cellules */
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid var(--clr-tertiary);
}

/* Style de l'en-tête */
th {
    background-color: var(--clr-primary);
}

/* Style des lignes impaires */
tr:nth-child(odd) {
    background-color: #f9f9f9;
}

/* Style des lignes au survol */
tr:hover {
    background-color: #f1f1f1;
}
/* End Main */

/* Footer */
footer {
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

footer .container {
    justify-content: space-between;
    align-items: flex-start;
}

footer h2 {
    font-size: 15px;
    margin-bottom: 10px;
}
footer p {
    font-size: 10px;
}

footer ul {
    list-style: none;
    line-height: 10px;
    font-size: 10px;
}

footer ul li {
    cursor: pointer;
}

.footer-about {
    width: 35%;
}

.copyright {
    text-align: center;
    padding-top: 7px;
    margin-top: 15px;
    border-top: 1px solid #b2b2b2;
}
/* End Footer */