/* Dialog */

/* CSS pour le centrage des dialogues */
dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--clr-tertiary);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 3px solid var(--clr-tertiary);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    z-index: 100;
}

/* CSS pour le bouton de fermeture */
dialog button {
    background: none;
    border: none;
    cursor: pointer;
}

dialog input[type=submit] {
    background-color: var(--clr-primary);
    border: none;
    color: var(--clr-secondary);
    padding: 10px;
    border-radius: 7px;
    margin-top: 10px;
}

dialog input[type=submit]:hover {
    cursor: pointer;
}

dialog input[type=text], dialog input[type=email], dialog input[type=date] {
    border: none;
    border-bottom: 2px solid var(--clr-primary);
    background: none;
    outline: none;
    padding: 3px;
    margin-bottom: 5px;
}

h4{
    text-align: center;
    margin-bottom: 5px;
}

dialog img {
    width: 15px;
    height: 15px;
}

/* CSS pour rendre les dialogues réactifs */
@media (max-width: 600px) {
    dialog {
        max-width: 100%;
        padding: 10px;
    }
}


/* End Dialog*/